<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <table class="w3-table w3-striped">
        <tr class="w3-green">
            <th>Card ID</th>
            <th>List</th>
            <th>Action</th>
        </tr>
        <tr th:each="card : ${cards}">
            <td th:text="${card.getCardId()}"></td>
            <td th:text="${card.getTrellolist()}"></td>
            <td>
                <a class="w3-button w3-black"
                   th:href="@{/TrelloView/lists(listId=${card.getTrellolist().getListId()})}">
                    Go to List
                </a>
            </td>
        </tr>
    </table>

</body>
</html>