<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <table class="w3-table w3-striped">
        <tr class="w3-green">
            <th>Card ID</th>
            <th>List</th>
        </tr>
        <tr th:each="card : ${cards}">
            <td th:text="${card.getCardId()}"></td>
            <td th:text="${card.getTrellolist()}"></td>
        </tr>
    </table>

</body>
</html>