<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <a class="w3-button w3-orange" href="/TrelloView/boards">BOARDS</a>
    <a class="w3-button w3-orange" href="/TrelloView/lists">LISTS</a>
    <a class="w3-button w3-orange" href="/TrelloView/cards">CARDS</a>

    <p th:text="'Hello, ' + ${name} + '!'" ></p>

</body>
</html>