<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Boards</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <a class="w3-button w3-orange" href="/TrelloView/boards">BOARDS</a>
    <a class="w3-button w3-orange" href="/TrelloView/lists">LISTS</a>
    <a class="w3-button w3-orange" href="/TrelloView/cards">CARDS</a>

    <table class="w3-table w3-striped">
        <tr class="w3-green">
            <th>List ID</th>
            <th>Board Name</th>
            <th>Cards</th>
            <th>Action</th>
        </tr>
        <tr th:each="list : ${lists}">
            <td th:text="${list.getListId()}"></td>
            <td th:text="${list.getTrelloboard().getName()}"></td>
            <td th:text="${list.getTrellocards()}"></td>
            <td>
                <a class="w3-button w3-black"
                   th:href="@{/TrelloView/boards(boardId=${list.getTrelloboard().getBoardId()})}">
                    Go to Board
                </a>
            </td>
        </tr>
    </table>

</body>
</html>